/***************/
/* Google Fonts*/
/***************/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Nunito+Sans:wght@300;800&display=swap');

/*********************/
/* Body & Background */
/*********************/

body {
    font-family: 'Bungee', cursive;
    font-weight: 800;
    background: linear-gradient(#345aa4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
    height: 100vh;
    overflow-x: hidden;
}

/*************************************************/
/* Navigation Styling (Including Hamburger Menu) */
/*************************************************/

.flex {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.navbar-links {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
}

.navbar-links a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
    color: white;
}

.hamburger-toggle {
    display: none;
}

/* Adjusting SVG Image Sizing */
#home {
    display: block;
    position: relative;
    height: 90px;
    width: 90px;
    left: 6%;
}
#bio {
    display: block;
    position: relative;
    height: 90px;
    width: 90px;
    left: 6%;
}
#cv {
    display: block;
    position: relative;
    height: 90px;
    width: 90px;
    left: 6%;
}
#portfolio {
    display: block;
    position: relative;
    height: 90px;
    width: 90px;
    left: 6%;
}

@media (max-width: 35em) {
    .flex {
        justify-content: flex-start;
    }
    .navbar-links {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(10vh, 10rem) 2rem;
        background-color: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1.5rem);
        text-align: left;

        transform: translateX(100%);
        transition: transform 400ms ease;
    }

    .navbar-links[data-visible="true"] {
        transform: translateX(0%);
    }

    .hamburger-toggle { /* The Icon Itself */
        display: block;
        position: absolute;
        z-index: 9999;
        background: url(assets/hamburger.png);
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1; /* making height and width the same */
        top: 2rem;
        right: 2rem;
    }

    .hamburger-toggle:hover {
        cursor: pointer;
    }

    #home {
        left: -7.5%;
    }
    #bio {
        left: -6%;
    }
    #cv {
        left: -7.5%;
    }
    #portfolio {
        left: -7.5%;
    }
}

@media (max-width: 400px) {
    #home {
        left: -10%;
    }
}
@media (max-width: 300px) {
    #home {
        left: -13%;
    }
}

/******************/
/* Home Hero Page */
/******************/

main {
    position: relative;
    top: 10%;
    margin: auto;
    width: 70%;
    max-width: 1700px;
}

.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    color: white;
    margin: auto;
    max-width: 1300px;
}

.hero-image {
    grid-area: right;
    margin: auto;
    max-width: 500px;
    min-width: 300px;
}

.welcome-message {
    grid-area: left;
    font-size: 2.5rem;
    line-height: 0.8em;
}

/* For Smaller Screens */

@media (max-width: 1000px) {
    .content-box {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "left" 
        "right";
    }
    /* Allows Image To Shrink Even Further */
    .hero-image {
        min-width: 150px;
    }
    .welcome-message {
        font-size: 1.6rem;
    }
}

    /* Galaxy Fold */
@media (max-width: 300px) {
    .welcome-message {
        font-size: 1.4rem;
    }
}

/* For Tablets */

@media (min-width: 560px) and (max-width: 1000px) {
    .welcome-message {
        text-align: center;
    }
}

/* For Bigger Screens */

@media (min-width: 1842px) {
    h1 {
        text-align: center;
    }
}


/*****************/
/* About Me Page */
/*****************/

.bio-message {
    font-size: 1.5em;
    line-height: 1.3em;
}

/* For Smaller Screens */

@media (max-width: 1230px) {
    .bio-message {
        font-size: 1.1em;
    }
}
@media (max-height: 720px) {
    .bio-message {
        font-size: 0.9em;
    }
    .bio-image {
        display: none;
    }
} 